# SECRETS

.env
shortconfig/

# TESTS

compile-environment/
studentcode/
website/
subject.md
*.rlib
*.csv

# PACKAGES

node_modules

# LOGS

traces/
*.log

# DEBUGGER

.vscode/

# DATABASE

sqlite3/

# CONFIG

config/participants.json

